<div id="login-box" class="login-popup">
  <a href="#" class="close">
    <img src="/asset/close_pop.png" class="btn_close" title="Close Window" alt="Close" />
  </a>
  <form method="post" class="signin" action="/login" method="post">
    <fieldset class="textbox">
      <label class="username">
        <span>Username</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
      </label>
      <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
      </label>
      <input class="popup-button" name="submit" value="Login" class="button" />
      <input type="submit" name="submit" value="Login" class="button" style="visibility: hidden; width:0; height:0; float:left;"/>
      <!--<p>
        <a class="forgot" href="#">Forgot your password?</a>
      </p>-->        
    </fieldset>
  </form>
</div>
