{% extends "base.html" %}

{% block content %}

<ul id="info-list">
  <li>
    <h1> {{ user.username }} </h1>
  </li>

  <ul class="like_list">
    <li>
      <h2> 좋아하는 영화 </h2>
    </li>
    {% include "core/movie_like.html" %}
  </ul>
  <ul class="dislike_list">
    <li>
      <h2> 싫어하는 영화 </h2>
    </li>
    {% include "core/movie_dislike.html" %}
  </ul>
  <ul class="actor_like_list">
    <li>
      <h2> 좋아하는 배우 </h2>
    </li>
    {% include "core/actor_like.html" %}
  </ul>
  <ul class="actor_dislike_list">
    <li>
      <h2> 싫어하는 배우 </h2>
    </li>
    {% include "core/actor_dislike.html" %}
  </ul>

  <ul class="profile_footer">
    <div class="footer">
      <p>Copyright © 2013 Kim Tae Hoon</p>
      <p>Designed by carpedm20</p>
    </div>
  </ul>
</ul>
{% endblock content %}
