*.sqlite
*.json
*.xml
*.zip
*.jpg
*.png
*.JPG
*.JPEG
*.swp
*.bmp
*.gif
*.jpeg
*.png
*.pyc
.idea
*.sqlite
.DS_Store
naver_detail/config.py
naver_detail/tmp
venv
build
tmp
scrapy
movieduk/localsettings.py
localsettings.py
video
asset/video
*.avi
*.smi
*.srt
*.mkv
.*
*migrations*
*migrations
json
README.py
youtube*
apiclient
media
*localsettings.py
