{% extends "base.html" %}

{% block content %}

<script type="text/javascript"> 
   var a = "{{someDjangoVariable}}"
</script>


<ul id="director-info-list">
  {% if director.thumb_url %}
    <img src="{{ director.thumb_url }}" />
  {% endif %}
  <h2>
    {{ director.name }} {% if director.en_name != '' %}({{ director.en_name }}){% endif %}
  </h2>
  {% include "core/movie_item.html" %}
<li class="loading-ball">
<div class="footer">
<p>Copyright © 2013 Kim Tae Hoon</p>
<p>Designed by carpedm20</p>
</div>
</li>
</ul>
{% endblock content %}
