<div class="filtering">
  <form class="filtering-form" method="post">{% csrf_token %}
    <fieldset class="genre ">
      <legend>장르</legend>
      <div id="filter-genre-wrapper-1" class="filter-wrapper">
        <input id="filter-genre-1" class="default-check checked" type="checkbox" name="genre" value="all" checked="">
        <label for="filter-genre-1" class="default">모든장르</label>
      </div>

      <div id="filter-genre-wrapper-2" class="filter-wrapper">
        <input id="filter-genre-2" type="checkbox" name="genre" value="35">
        <label for="filter-genre-2">범죄</label>
      </div>
      <div id="filter-genre-wrapper-3" class="filter-wrapper">
        <input id="filter-genre-3" type="checkbox" name="genre" value="36">
        <label for="filter-genre-3">드라마</label>
      </div>
      <div id="filter-genre-wrapper-4" class="filter-wrapper">
        <input id="filter-genre-4" type="checkbox" name="genre" value="37">
        <label for="filter-genre-4">코미디</label>
      </div>
      <div id="filter-genre-wrapper-5" class="filter-wrapper">
        <input id="filter-genre-5" type="checkbox" name="genre" value="38">
        <label for="filter-genre-5">로맨스/멜로</label>
      </div>
      <div id="filter-genre-wrapper-6" class="filter-wrapper">
        <input id="filter-genre-6" type="checkbox" name="genre" value="39">
        <label for="filter-genre-6">스릴러</label>
      </div>
      <div id="filter-genre-wrapper-7" class="filter-wrapper">
        <input id="filter-genre-7" type="checkbox" name="genre" value="40">
        <label for="filter-genre-7">가족</label>
      </div>
      <div id="filter-genre-wrapper-8" class="filter-wrapper">
        <input id="filter-genre-8" type="checkbox" name="genre" value="41">
        <label for="filter-genre-8">전쟁</label>
      </div>
      <div id="filter-genre-wrapper-9" class="filter-wrapper">
        <input id="filter-genre-9" type="checkbox" name="genre" value="44">
        <label for="filter-genre-9">판타지</label>
      </div>
      <div id="filter-genre-wrapper-10" class="filter-wrapper">
        <input id="filter-genre-10" type="checkbox" name="genre" value="45">
        <label for="filter-genre-10">액션</label>
      </div>
      <div id="filter-genre-wrapper-11" class="filter-wrapper">
        <input id="filter-genre-11" type="checkbox" name="genre" value="46">
        <label for="filter-genre-11">SF</label>
      </div>
      <div id="filter-genre-wrapper-12" class="filter-wrapper">
        <input id="filter-genre-12" type="checkbox" name="genre" value="47">
        <label for="filter-genre-12">애니메이션</label>
      </div>
      <div id="filter-genre-wrapper-13" class="filter-wrapper">
        <input id="filter-genre-13" type="checkbox" name="genre" value="48">
        <label for="filter-genre-13">모험</label>
      </div>
      <div id="filter-genre-wrapper-14" class="filter-wrapper">
        <input id="filter-genre-14" type="checkbox" name="genre" value="49">
        <label for="filter-genre-14">공포</label>
      </div>
    </fieldset>
    <fieldset class="nation">
      <legend>국가</legend>
      <div id="filter-nation-wrapper-1" class="filter-wrapper">
        <input id="filter-nation-1" class="default-check checked" type="checkbox" name="nation" value="all" checked="">
        <label for="filter-nation-1" class="default">모든국가</label>
      </div>
      <br>
      <div id="filter-nation-wrapper-2" class="filter-wrapper">
        <input id="filter-nation-2" type="checkbox" name="nation" value="1">
        <label for="filter-nation-2">한국</label>
      </div>
      <br>
      <div id="filter-nation-wrapper-3" class="filter-wrapper">
        <input id="filter-nation-3" type="checkbox" name="nation" value="2">
        <label for="filter-nation-3">미국</label>
      </div>
      <br>
      <div id="filter-nation-wrapper-4" class="filter-wrapper">
        <input id="filter-nation-4" type="checkbox" name="nation" value="3">
        <label for="filter-nation-4">일본</label>
      </div>
      <br>
      <div id="filter-nation-wrapper-5" class="filter-wrapper">
        <input id="filter-nation-5" type="checkbox" name="nation" value="4">
        <label for="filter-nation-5">중국</label>
      </div>
      <br>
      <!--<div id="filter-nation-wrapper-6" class="filter-wrapper">
        <input id="filter-nation-6" type="checkbox" name="nation" value="5">
        <label for="filter-nation-6">유럽</label>
      </div>
      <br>-->
      <div id="filter-nation-wrapper-7" class="filter-wrapper">
        <input id="filter-nation-7" type="checkbox" name="nation" value="6">
        <label for="filter-nation-7">기타 국가</label>
      </div>
    </fieldset>
    <fieldset class="year">
      <legend>연도</legend>
      <div id="filter-year-wrapper-1" class="filter-wrapper">
        <input id="filter-year-1" class="default-check" type="checkbox" name="year" value="all">
        <label for="filter-year-1" class="default">전체</label>
      </div>
      <div id="filter-year-wrapper-2" class="filter-wrapper">
        <input id="filter-year-2" type="checkbox" name="year" value="1900~1990">
        <label for="filter-year-2">1900~1990</label>
      </div>
      <div id="filter-year-wrapper-3" class="filter-wrapper">
        <input id="filter-year-3" type="checkbox" name="year" value="1991~2000">
        <label for="filter-year-3">1991~2000</label>
      </div>
      <div id="filter-year-wrapper-4" class="filter-wrapper">
        <input id="filter-year-4" type="checkbox" name="year" value="2001~2010" checked="" class="checked">
        <label for="filter-year-4">2001~2010</label>
      </div>
      <div id="filter-year-wrapper-5" class="filter-wrapper">
        <input id="filter-year-5" type="checkbox" name="year" value="2011~2013">
        <label for="filter-year-5">2011~2013</label>
      </div>
      <div id="filter-year-wrapper-6" class="filter-wrapper">
        <input id="filter-year-6" type="checkbox" name="year" value="2014~2017">
        <label for="filter-year-6">2014~2016</label>
      </div>
    </fieldset>
  </form>
  <div class="filtering_submit_wrapper">
    <button class="submit_filtering filtering_btn">적용</button>
    <button class="submit_reset filtering_btn">초기화</button>
  </div>
</div>
