{% extends "base.html" %}

{% block content %}


<script type="text/javascript"> 
   var a = "{{someDjangoVariable}}"
</script>


<ul id="info-list">
  <li style="text-align: center;">
  <input id="movie_code" type="hidden" value="{{ movie.code }}"/>
  {% if movie.poster_url %}
    <img class="big-poster" src="{{ movie.poster_url }}" />
  {% endif %}
  </li>
  <div id="filter-wrapper" style="float:right">
    <button id="like_button">좋아요</button>
    <button id="dislike_button">싫어요</button>
  </div>
  <h2 style="width: 78%;">
    {{ movie.title1 }} {% if movie.title2 != '' %}({{ movie.title2_with_link|escape|safe  }}){% endif %}
  </h2>
  <h4 class="movie-sub-info">
    {% if movie.genre != '' %}
      {% for g in movie.genre_as_list %}
        {% if forloop.last %}
          <a href="/search/movie/genre?query={{ g }}">{{ g }}</a>
        {% else %}
          <a href="/search/movie/genre?query={{ g }}">{{ g }}</a>,
        {% endif %}
      {% endfor %} | 
    {% endif %}
    {% if movie.country %}
      <a href="/search/movie/country?query={{ movie.country }}">{{ movie.country }}</a> |
    {% endif %}
    {% if movie.form %}
      {{ movie.form }} |
    {% endif %}
    {% if movie.grade %}
      {{ movie.grade }} |
    {% endif %}
    {% if movie.time%}
      {{ movie.time }}
    {% endif %}
  </h4>
  {% if youtube %}
    <!--<a id="youtube-left">left</a>-->
    <div class="youtube">
      <ul class="youtube_list">
        {% for link, thumb in youtube %}
        <li class="youtube_thumb" style="border-style: none">
          <a class="colorbox" href="http://www.youtube.com/embed/{{ link }}?wmode=opaque&amp;autoplay=1">
            <div class="stillcut-black-layer">
              <img class="stillcut" src="{{ thumb }}"/>
            </div>
            <span class="play-icon">재생하기</span>
          </a>
        </li>
        {% endfor %}
      <ul>
    </div>
    <!--<a id="youtube-right">right</a>-->
  {% endif %}
  <div>
    <ul style="-webkit-padding-start: 0px; text-align:center;">
    {% for i in movie.video_set.all %}
      {% if ".mp4" in i.file_field.name or ".webm" in i.file_field.name %}
      <li>
        <video id="video_{{ forloop.counter }}" src="http://moza.us.to/~carpedm20/media/{{ i.file_field.name }}" width="640" height="360" controls="controls">
          <track kind="subtitles" label="subtitle" src="/media/{{ i.file_field.name | slice:":-4" }}.vtt" srclang="en" default></track>
        </video>
        <a href="/media/{{ i.file_field.name }}">{{ i.file_field.name }}</a> | {{ i.file_field.size | filesizeformat }}
      </li>
      {% elif ".mkv" in i.file_field.name %}
      <li>
        <video id="video_{{ forloop.counter }}" src="http://moza.us.to/~carpedm20/media/{{ i.file_field.name }}" width="640" height="360" controls="controls">
          <source src="http://moza.us.to/~carpedm20/media/{{ i.file_field.name }}" type='video/x-matroska; codecs="theora, vorbis"'>
          <track kind="subtitles" label="subtitle" src="/media/{{ i.file_field.name | slice:":-4" }}.vtt" srclang="en" default></track>
        </video>
        <a href="/media/{{ i.file_field.name }}">{{ i.file_field.name }}</a> | {{ i.file_field.size | filesizeformat}}
      </li>
      {% else %}
      <li>
        <a href="/media/{{ i.file_field.name }}">{{ i.file_field.name }}</a> | {{ i.file_field.size | filesizeformat }}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="text-container" id="story">
    {% if movie.story1 != '' %}
      <div id="story1"><b>
        {{ movie.story1|escape|safe }}
      </b></div>
    {% else %}
      <br/>
    {% endif %}
    {% if movie.story2 != '' %}
      <!--<div class="text-content short-text" id="story2">-->
      <div class="text-content" id="story2">
        {{ movie.story2|escape|safe }}
      </div>
      <!--<div class="show-more">
        <a href="#">펼쳐보기</a>
      </div>-->
    {% endif %}
  </div>
  {% for d in directors %}
    <li id="director" class="llistItemMovie">
      <div class="rank">
        <!--<span class="positiondifference">
          <span class="up down neutral">-
          </span>
        </span>-->
      </div>
      <div class="listImage">
        <div class="profile" style="background: url(/var/covers/small/10/100.jpg);">
        <h1>
          <a href="/info/director/{{ d.code }}">{{ d.name }}</a>
          {% if d.en_name != '' %}
            ({{ d.en_name }})
          {% endif %}
          - 감독
        </h1>
        {% if d.thumb_url %}
            <img src="{{ d.thumb_url }}" />
          {% else %}
            <img src="http://static.naver.net/movie/2012/06/dft_img120x150.png"  width="111" height="139"/>
          {% endif %}
          {% if d.dm_list != False %}
          <h2 class="major-work">대표작</h2>
          <!--<div class="small_list">-->
          <ol class="movie_thumb_list" id="left_thumb_list">
            {% for dm in d.dm_list %}
            <li class="small_thumb_list_item" data-title="{{ m.title1 }}" style="display: list-item;">
              <!--<div class="small_item">-->
              {% if dm.small_liked %}
                <div class="viewport user_liked">
              {% elif dm.small_disliked %}
                <div class="viewport user_disliked">
              {% else %}
                <div class="viewport">
              {% endif %}
                <a href="/info/movie/{{ dm.code }}">
                  <span class="dark-background">{{ dm.title1 }}</span>
                  <img src="{{ dm.poster_url }}?type=n77_110_2" width="50" height="68"/>
                </a>
              </div>
            </li>
            {% endfor %}
          <!--</div>-->
          </ol>
          {% else %}
            <br/>
          {% endif %}
          {% if d.like %}
            <a href="#" class="director_liked" id="{{ d.code }}"><span></span></a>
          {% else %}
            <a href="#" class="director_like" id="{{ d.code }}"><span></span></a>
          {% endif %}
          <a href="#" class="director_like_count" id="{{ d.code }}">{{ d.like_count }}</a>
          {% if m.actor.dislike %}
            <a href="#" class="director_disliked" id="{{ d.code }}"><span></span></a>
          {% else %}
            <a href="#" class="director_dislike" id="{{ d.code }}"><span></span></a>
          {% endif %}
          <a href="#" class="director_dislike_count" id="{{ d.code }}">{{ d.dislike_count }}</a>
        </div>
      </div>
    </li>
  {% endfor %}
  {% for m in mains %}
    <li class="actors" class="llistItemMovie">
      <div class="rank">
        {{ movie.index }}
        <!--<span class="positiondifference">
          <span class="up down neutral">-
          </span>
        </span>-->
      </div>
      <div class="listImage">
        <div class="profile" style="background: url(/var/covers/small/10/100.jpg);">
        <h2 class="actor-name">
          <a href="/info/actor/{{m.actor.code}}">{{ m.actor.name }}</a> 
          {% if m.actor.en_name != '' %}
            ({{ m.actor.en_name }})
          {% endif %}
          {% if m.character != '' %}
           - {{ m.character }}
          {% endif %}
          <!--<a href="{{ movie.detail_url }}" title ="{{ movie.title1 }}">{{ movie.title1 }} ({{ movie.title2 }} )</a>-->
        </h2>
          {% if m.actor.thumb_url %}
            <img src="{{ m.actor.thumb_url }}" onerror="actorThumbError(this);"/>
          {% else %}
            <img src="http://static.naver.net/movie/2012/06/dft_img120x150.png"  width="111" height="139"/>
          {% endif %}
          {% if m.am_list != False %}
          <h3 class="major-work">대표작</h3>
          <!--<div class="small_list">-->
          <ol class="movie_thumb_list" id="left_thumb_list">
            {% for am in m.am_list %}
            <li class="small_thumb_list_item" data-title="{{ am.title1 }}" style="display: list-item;">
              <!--<div class="small_item">-->
              {% if am.small_liked %}
                <div class="viewport user_liked">
              {% elif am.small_disliked %}
                <div class="viewport user_disliked">
              {% else %}
                <div class="viewport">
              {% endif %}
                <a href="/info/movie/{{ am.code }}">
                  <span class="dark-background">{{ am.title1 }}</span>
                  <img src="{{ am.poster_url }}?type=n77_110_2" width="50" height="68"/>
                </a>
              </div>
            </li>
            {% endfor %}
          <!--</div>-->
          </ol>
          {% else %}
            <br/>
          {% endif %}
          {% if m.actor.like %}
            <a href="#" class="actor_liked" id="{{ m.actor.code }}"><span></span></a>
          {% else %}
            <a href="#" class="actor_like" id="{{ m.actor.code }}"><span></span></a>
          {% endif %}
          <a href="#" class="actor_like_count" id="{{ m.actor.code }}">{{ m.actor.like_count }}</a>
          {% if m.actor.dislike %}
            <a href="#" class="actor_disliked" id="{{ m.actor.code }}"><span></span></a>
          {% else %}
            <a href="#" class="actor_dislike" id="{{ m.actor.code }}"><span></span></a>
          {% endif %}
          <a href="#" class="actor_dislike_count" id="{{ m.actor.code }}">{{ m.actor.dislike_count }}</a>
        </div>
      </div>
      {% if m.actor.like %}
        <a href="#" class="actor-like" id="{{ m.actor.code }}"><span></span></a>
      {% else %}
        <a href="#" class="actor-liked" id="{{ m.actor.code }}"><span></span></a>
      {% endif %}
      {% if m.actor.dislike %}
        <a href="#" class="actor-dislike" id="{{ m.actor.code }}"><span></span></a>
      {% else %}
        <a href="#" class="actor-disliked" id="{{ m.actor.code }}"><span></span></a>
      {% endif %}
      <span class="info">
      </span>
      <!--<ul class="tagList">
        <li>
        </li>
      </ul>-->
    </li>
  {% endfor %}
<li style="min-height: 70px;">
{% if request.session.DukUser %}
  {% load jfutags %}
  {% jfu 'file/uploader.html' %}
{% endif %}
</li>
<li style="margin-top:20px;">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'movieduk'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript"></a></noscript>
    <a href="http://disqus.com" class="dsq-brlink"><span class="logo-disqus"></span></a>
</li>
<li class="loading-ball" style="margin-top:20px;">
  <div class="footer">
    <p>Copyright © 2013 Kim Tae Hoon</p>
    <p>Designed by carpedm20</p>
  </div>
</li>
</ul>
{% endblock content %}
