{% extends "base.html" %}

{% block content %}

<div style="margin: 0 auto; position: relative; margin-top: 70px;">
  <h2 style="text-align:center;"> 무비덕 정보 </h2>
  <ul style="-webkit-padding-start: 0px;">
    <li>13.11.11 무비덕 프로젝트 시작</li>
    <li>14.02.06 무비덕 1.0 완성</li>
    <li>14.02.07 첫번째 유저 가입</li>
  </ul>
  <ul style="-webkit-padding-start: 0px;">
    <li> # of Movie : 94,515 </li>
    <li> # of Actor : 186,945 </li>
    <li> # of Director : 46,963 </li>
    <li> # of Movie main character : 596,883 </li>
    <li> # of Movie sub character : 245,953 </li>
    <li> # of User : {{ user_count }} </li>
  </ul>
  <ul style="-webkit-padding-start: 0px;">
    <li>GitHub: <a href="https://github.com/carpedm20/movieduk">https://github.com/carpedm20/movieduk</a></li>
  </ul>
  <div class="footer" style="margin-top:35px">
    <p>Copyright © 2013 Kim Tae Hoon</p>
    <p>Designed by carpedm20</p>
  </div>

{% endblock content %}
