{% extends "base.html" %}

{% block content %}

<script type="text/javascript"> 
   var a = "{{someDjangoVariable}}"
</script>


<ul id="info-list">
  {% if movie.poster_url %}
    <img src="{{ movie.poster_url }}" />
  {% endif %}
  <h2>
    {{ movie.title1 }} {% if movie.title2 != '' %}({{ movie.title2 }}){% endif %}
  </h2>
  <div class="text-container" id="story">
    {% if movie.story1 != '' %}
      <div id="story1"><b>
        {{ movie.story1|escape|safe }}
      </b></div>
    {% endif %}
    {% if movie.story2 != '' %}
      <div class="text-content short-text" id="story2">
        {{ movie.story2|escape|safe }}
      </div>
      <div class="show-more">
        <a href="#">펼쳐보기</a>
      </div>
    {% endif %}
  </div>
  <a href="#" id="{{ movie.code }}"><span>Check</span></a>
  {% for m in mains %}
    <li id="actors" class="llistItemMovie">
      <div class="rank">
        {{ movie.index }}
        <!--<span class="positiondifference">
          <span class="up down neutral">-
          </span>
        </span>-->
      </div>
      <div class="listImage">
        <div class="profile" style="background: url(/var/covers/small/10/100.jpg);">
        <h1>
          <a href="/info/actor/{{m.actor.code}}">{{ m.actor.name }}</a> 
          {% if m.actor.en_name != '' %}
            ({{ m.actor.en_name }})
          {% endif %}
          {% if m.character != '' %}
           - {{ m.character }}
          {% endif %}
          <!--<a href="{{ movie.detail_url }}" title ="{{ movie.title1 }}">{{ movie.title1 }} ({{ movie.title2 }} )</a>-->
        </h1>
          {% if m.actor.thumb_url %}
            <img src="{{ m.actor.thumb_url }}" />
          {% else %}
            <img src="http://static.naver.net/movie/2012/06/dft_img120x150.png"  width="111" height="139"/>
          {% endif %}
          {% if m.am_list != False %}
          <h2>대표작</h2>
          <!--<div class="small_list">-->
          <ol class="movie_thumb_list" id="left_thumb_list">
            {% for am in m.am_list %}
            <li class="small_thumb_list_item" data-title="{{ m.title1 }}" style="display: list-item;">
              <!--<div class="small_item">-->
              <div class="viewport">
                <a href="/info/movie/{{ am.code }}">
                  <span class="dark-background">{{ am.title1 }}</span>
                  <img src="{{ am.poster_url }}?type=n77_110_2" width="44" height="60"/>
                </a>
              </div>
            </li>
            {% endfor %}
          <!--</div>-->
          </ol>
          {% else %}
            <br/>
          {% endif %}
        </div>
      </div>
      <span class="info">
      </span>
      <!--<ul class="tagList">
        <li>
        </li>
      </ul>-->
    </li>
  {% endfor %}
<li class="loading-ball">
<div class="footer">
<p>Copyright © 2013 Kim Tae Hoon</p>
<p>Designed by carpedm20</p>
</div>
</li>
</ul>
{% endblock content %}
