@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
color: #666666;
font-family: 'Nanum Gothic';
font-size: 13px;
line-height: 24px;
margin: 0;
display: flex;
}

a:hover {
color: #b51435;
text-decoration: underline;
}

a {
color: #567d68;
font-weight: bold;
text-decoration: none;
}

.info {
display: block;
overflow: hidden;
position: relative;
width: 76%;
float: right;
z-index: 10;
}

.login_background {
background-image: url(/media/wallpaper/2652_1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
}

div {
display: block;
}

div.index_item{
display:block;
overflow:auto;
overflow: hidden;
}

span.coverImage{
float: left;
display: inline-block;
padding-top: 10px;
padding-bottom: 10px;
text-align:center;
width:22%;
}

li {
border-bottom: 1px solid #ccc;
margin: 0;
padding: 5px 10px 6px 10px;
position: relative;
}

li #movie {
height: auto;
}

ul {
list-style-type: none;
}

.top-nav-bar {
background-color: #3F97FF;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F97FF), color-stop(1, #347ED4));
top: 0;
left: 0;
position: fixed;
z-index: 4000;
width: 100%;
height: 40px;
margin-bottom: 20px;
text-align: center;
}

#menu ul, ol {
list-style: none;
padding: 0;
margin: 0;
display: block;
list-style-type: disc;
}

#menu {
overflow: visible;
max-width: 960px;
background: transparent;
margin: 0 auto;
text-align: center;
}

#menu > li {
float: left;
display: block;
border-bottom: 0px solid #ccc;
margin-top: 0;
}


#menu li a {
font: 20px 'Open Sans Condensed';
font-style: normal;
font-weight: 300;
color: white;
}

#search-bar {
float:right !important;
padding: 6px;
margin-right: 40px;
}

#search-bar input[name="searchBox"] {
font-family: 'Nanum Gothic';
font-size: 10px;
color: #aaa;
border: 1px solid #dcd7cd;
border-right: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #fff;
width: 170px;
padding: 6px 40px 6px 6px;
border: solid 1px #cbc9c5;
}

#search-bar button{
font-family: 'Open Sans Condensed';
}

#info-list {
margin-top: 20px;
}

#info-list img {
max-width: 90%;
}

#accounts .section {
border-bottom: 1px solid #dddddd;
padding: 0 50px 20px;
font-size: 0;
}

form {
display: block;
margin-top: 0em;
}

.fake_search_btn {
position: absolute;
right: 0;
top: 0;
padding: 12px 10px;
}

.fake_search_btn input[type='submit'] {
text-indent: -9999px;
overflow: hidden;
text-align: center;
cursor: pointer;
height: 16px;
width: 16px;
border: 0;
background: url(/media/img/search-icon.svg) no-repeat;
background-size: 15px;
}

.text-container {
  width: 95%;
}

.text-content {
  line-height: 1.7em;
}
 
.short-text {
  overflow: hidden;
  height: 3.4em;
}
 
.full-text {
  height: auto;
}

/*
.show-more, .check{
display: block;
position: absolute;
z-index: 10;
bottom: 0;
right: 0;
}*/

.footer {
line-height: 5px;
font-size: 10px;
text-align: center;
float: center;
}

.small_list {
height: auto;
}

.small_list > div {
text-align: center;
width: auto;
padding-right: 15px;
display: inline-block;
}

.small_list p {
font-size: 15px;
line-height: 3em;
margin: 0;
margin-right:10px;
}
