@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

#loadingbar {
    background: #b51435;
}

#loadingbar dd, #loadingbar dt {
  -moz-box-shadow: #b51435 1px 0 6px 1px;
  -ms-box-shadow: #b51435 1px 0 6px 1px;
  -webkit-box-shadow: #b51435 1px 0 6px 1px;
  box-shadow: #b51435 1px 0 6px 1px;
}

body{
color: #666666;
font-family: 'Nanum Gothic';
font-size: 13px;
line-height: 24px;
margin: 0;
display: flex;
}

button {
font-family: 'Nanum Gothic';
}

h4.movie-sub-info {
line-height: 0.2em;
}

div.youtube {
width:100%;
}

ul.youtube_list {
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

li.youtube_thumb {
width:30%;
display: inline-block;
margin: 0 auto;
list-style-type: none;
border-bottom: 0px solid #ccc;
-webkit-filter: grayscale(100%);
}

li.youtube_thumb:hover {
-webkit-filter: grayscale(0%);
}

img.stillcut {
width: 100%;
-moz-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
}

div.stillcut-black-layer {
left: 1px;
top: 1px;
width: 100%;
height: inherit;
background-color: rgba(0,0,0,0.5);
}

.play-icon {
text-indent: -9999px;
overflow: hidden;
position: absolute;
left: 45%;
top: 41%;
height: 32px;
width: 32px;
display: block;
background-position: 0 -96px;
background: url(/asset/play_art2.png) no-repeat;
}

iframe.video{
z-index:-1;
width: 80%;
}

a:hover {
color: #b51435;
text-decoration: underline;
}

a {
color: #567d68;
font-weight: bold;
text-decoration: none;
}

.info {
display: block;
overflow: hidden;
position: relative;
width: 76%;
float: right;
z-index: 10;
}

.login_background {
background-image: url(/media/wallpaper/2652_1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
}

div {
display: block;
}

.video_icon, .no_video_icon{
margin: -12px 0 0 0;
position: absolute;
top: 32%;
z-index: 20;
width: 25px;
height: 25px;
float:right;
right:7;
background-image: url(/asset/movie.png);
background-size:25px 25px;
}

.no_video_icon {
background-image: url(/asset/movie_no.png);
}

.profile_like_count {
float:right;
margin-top:15px;
}

ul.like_list, ul.dislike_list, ul.actor_like_list, ul.actor_dislike_list, ul.profile_footer, ul.director_like_list, ul.director_dislike_list {
width:45%;
float:left;
margin: 0, auto;
-webkit-padding-start:2.5%; 
}

ul.actor_like_list, ul.actor_dislike_list, ul.director_like_list, ul.director_dislike_list {
width: 90%;
}

ul.profile_footer {
width:90%;
margin-top: 20px;
}

a.like_count, a.dislike_count, a.actor_like_count, a.director_like_count, a.actor_dislike_count, a.director_dislike_count, a.like, a.liked, a.dislike, a.disliked, a.actor_like, a.actor_liked, a.actor_dislike, a.actor_disliked, a.director_like, a.director_liked, a.director_dislike, a.director_disliked {
margin: -12px 0 0 0;
width: 15px;
height: 15px;
position: absolute;
top: 47%;
z-index: 20;
}

div.social_like, div.social_dislike {
width:100%;
}

ul.profile_movie_list {
-webkit-padding-start: 10px;
}

ul.profile_movie_list li{
border-bottom: 0;
margin-top: 10px;
}

p.social_like_count, p.social_dislike_count, img.social_like_img, img.social_dislike_img {
width: 15px;
height: 15px;
position: absolute;
top: 36%;
z-index: 20;
right: -0.6em;
}

p.social_dislike_count {
top: 70%;
right: -0.6em;
}

img.social_like_img {
top: 44%;
right: 1em;
}

img.social_dislike_img {
top: 79%;
right: 1em;
}

ol.social_movie_thumb_list {

}

a.like_count, a.actor_like_count, a.director_like_count {
color:#3684de;
top: 52%;
right: 21;
}

a.dislike_count, a.actor_dislike_count, a.director_dislike_count {
color:#3684de;
top: 52%;
right: 0;
}

a.actor_like_count, a.director_like_count, a.actor_dislike_count, a.director_dislike_count {
width: 11px;
top:59%;
}

a.director_like_count, a.director_dislike_count {
top:67%;
}

.coverImageShort a.like_count,.coverImageShort a.dislike_count {
top: 64%
}

a.director_like, a.director_liked, a.director_dislike, a.director_disliked {
top:60%;
}

a.like, a.actor_like, a.director_like {
background: url(/asset/like_fade.png) no-repeat;
right: 22;
}

a.like:hover, a.liked, a.actor_like:hover, a.actor_liked, a.director_like:hover, a.director_liked {
background: url(/asset/like.png) no-repeat;
right: 22;
}

a.dislike, a.actor_dislike, a.director_dislike {
background: url(/asset/dislike_fade.png) no-repeat;
right: 0;
}

a.dislike:hover, a.disliked, a.actor_dislike:hover, a.actor_disliked, a.director_dislike:hover, a.director_disliked {
background: url(/asset/dislike.png) no-repeat;
right: 0;
}

span.small_info h2 {
font-size: 1.3em;
margin: 9 0 0 0;
}

span.small_info div {
line-height: 1.5em;
}

span.small_info div.text-container {
height:0;
overflow: hidden;
}

span.coverImageShort{
float: left;
display: inline-block;
padding-top: 10px;
padding-bottom: 10px;
text-align:center;
width:75px;
}

div.index_item, div.index_item_short {
display:block;
overflow:auto;
overflow: hidden;
}

div.index_item_short {
width: 95%;
}

span.coverImage{
float: left;
display: inline-block;
padding-top: 10px;
padding-bottom: 10px;
text-align:center;
width:22%;
}

.coverImage a img, .coverImage img{
width: 98%;
}

li {
border-bottom: 1px solid #ccc;
margin: 0;
padding: 5px 10px 6px 10px;
position: relative;
}

li.actors {
padding: 15px 10px 15px 10px;
}

li.loading-ball {
border-bottom: 0;
}

li#movie {
height: auto;
}

ul {
list-style-type: none;
}

.top-nav-bar {
background-color: #3F97FF;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F97FF), color-stop(1, #347ED4));
top: 0;
left: 0;
position: fixed;
z-index: 4000;
width: 100%;
height: 40px;
margin-bottom: 20px;
text-align: center;
}

#menu ul, ol {
list-style: none;
padding: 0;
margin: 0;
display: block;
list-style-type: disc;
}

#menu {
min-width: 690px;
overflow: visible;
max-width: 870px;
background: transparent;
margin: 0 auto;
text-align: center;
}

#menu > li {
float: left;
display: block;
border-bottom: 0px solid #ccc;
margin-top: 0;
}


#menu li a {
font: 20px 'Open Sans Condensed';
font-style: normal;
font-weight: 300;
color: white;
}

#search-bar {
float:right !important;
padding: 6px;
margin-right: 40px;
}

#search-bar input[name="searchBox"] {
font-family: 'Nanum Gothic';
font-size: 10px;
color: #aaa;
border: 1px solid #dcd7cd;
border-right: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #fff;
width: 170px;
padding: 6px 40px 6px 6px;
border: solid 1px #cbc9c5;
}

#search-bar button{
font-family: 'Open Sans Condensed';
}

#filter-wrapper {
text-align: right;
}

#filter-openner, #like_button, #dislike_button {
font-size: 1.1em;
width: 78px;
height: 34px;
margin-top: 8;
text-align: center;
cursor: pointer;
-moz-user-select: none;
-webkit-user-select: none;
-webkit-user-drag: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
color: #ffffff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F97FF', endColorstr='#3F57FF');
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);

text-shadow: 0px 1px 1px #3F97FF;
background: linear-gradient(#3FC7FF,#3F97FF);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F97FF', endColorstr='#3F57FF');
border: solid 1px #3F97FF;
}

#like_button:hover {
text-shadow: 0px 1px 1px #3F97FF;
background: linear-gradient(#3FC7FF,#3F97FF);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F97FF', endColorstr='#3F57FF');
border: solid 1px #3F97FF;
}

#dislike_button {
text-shadow: 0px 1px 1px #ff9c34;
background: linear-gradient(#ffcc34,#ff9c34);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F97FF', endColorstr='#3F57FF');
border: solid 1px #ff9c34;
}

#dislike_button:hover {
text-shadow: 0px 1px 1px #ff9c34;
background: linear-gradient(#ffcc34,#ff9c34);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F97FF', endColorstr='#3F57FF');
border: solid 1px #ff9c34;
}

.filtering {
display:none;

right: 0%;
width: 700px;
display: block;
opacity: 1;
z-index: 100;
position: absolute;
top: 50px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
border: 1px solid #c3c0bb;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

.filtering-form{
height: 255px;
border-bottom: solid 1px #dfdad2;
padding: 30px 30px 0 30px;
}

.filter-wrapper {
width: 140px;
float: left;
padding-top: 3px;
}

.filtering_submit_wrapper {
padding-right: 10px;
float: none;
height: 50px;
text-align: right;
}

.filtering_btn {
margin-top: 8;
width: 78px;
text-align: center;
cursor: pointer;
-moz-user-select: none;
-webkit-user-select: none;
-webkit-user-drag: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
color: #ffffff;
text-shadow: 0px 1px 1px #3F97FF;
background: linear-gradient(#3F97FF,#3F57FF);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F97FF', endColorstr='#3F57FF');
border: solid 1px #3F57FF;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
height: 34px;
}

.filtering_btn.submit_reset {
color: #555555;
text-shadow: 0px 1px 1px #ffffff;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f9f9f9));
background: -webkit-linear-gradient(#fff, #f9f9f9);
background: -moz-linear-gradient(#fff, #f9f9f9);
background: -o-linear-gradient(#fff, #f9f9f9);
-pie-background: linear-gradient(#ffffff,#f9f9f9);
background: linear-gradient(#ffffff,#f9f9f9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9');
border: solid 1px #dddddd;
}

input[type=checkbox] {
visibility: hidden;
}

.filter-wrapper label{
cursor: pointer;
padding: 2;
margin-left: -20;
width: 25px;
height: 25px;
top: 0;
left: 0;
background: #eee;
border:1px solid #ddd;
}

.filter-wrapper label:after {
opacity: 0.2;
content: '';
border: 3px solid #3F57FF;
border-top: none;
border-bottom: none;
border-right: none;
margin-left: 3;
}

.filter-wrapper label:hover::after {
    opacity: 0.5;
}

.filter-wrapper input[type=checkbox]:checked + label:after {
    opacity: 1;
}

form {
display: block;
}

fieldset {
float: left;
border-width: 0;
}

legend {
color: #3F97FF;
font-size: 16px;
font-weight: bold;
margin-bottom: 8px;
}

form fieldset.genre {
margin-left: 0;
width: 280px;
}

fieldset.nation {
width: 140px;
}

fieldset.year{
width: 140px;
}

#info-list {
min-width: 690px;
max-width: 740px;
width: 75%;
margin: 40 auto;
}

#social-list {
max-width: 690px;
width: 75%;
margin: 40 auto;
}

img.big-poster {
width:90%;
}

#actor-info-list, #director-info-list {
width: 75%;
min-width: 690px;
margin-top: 70px;
margin: 50 auto;
}

.list-short {
overflow: visible;
max-width: 800px;
background: transparent;
margin: 0 auto;
-webkit-padding-start: 0px;
}

#accounts .section {
border-bottom: 1px solid #dddddd;
padding: 0 50px 20px;
font-size: 0;
}

form {
display: block;
margin-top: 0em;
}

.fake_search_btn {
position: absolute;
right: 0;
top: 0;
padding: 12px 10px;
}

.fake_search_btn input[type='submit'] {
text-indent: -9999px;
overflow: hidden;
text-align: center;
cursor: pointer;
height: 16px;
width: 16px;
border: 0;
background: url(/media/img/search-icon.svg) no-repeat;
background-size: 15px;
}

.text-container {
  width: 93%;
}

#story1 {
padding: 10 0 10 0;
}

.text-content {
  line-height: 1.7em;
}
 
.short-text {
  overflow: hidden;
  height: 3.4em;
}
 
.full-text {
  height: auto;
}

/*
.show-more, .check{
display: block;
position: absolute;
z-index: 10;
bottom: 0;
right: 0;
}*/

.footer {
line-height: 5px;
font-size: 11px;
text-align: center;
float: center;
}

.small_list {
height: auto;
}

.small_list > div {
text-align: center;
width: auto;
padding-right: 15px;
display: inline-block;
}

.small_list p {
font-size: 15px;
line-height: 3em;
margin: 0;
margin-right:10px;
}

.choice-button {
    -webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
    background-color:#EEE;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border:1px solid #999;
    color:#666;
    font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
    font-size:11px;
    font-weight:700;
    padding:2px 12px;
    height:28px
}

#choice-form {
position: fixed;
margin-top: 120;
margin-left: 50;
}

#choices-area {
margin: auto;
width: 676px;
height: 450px;
float: center;
}

#choice-middle {
position: fixed;
margin-top: 396;
margin-left: -28;
}

#thumb-left, #thumb-right {
margin-top: 13px;
_margin-top: 20px;
text-align: center;
border: 0;
padding: 0;
}

img.rank-thumb{
height:200;
}

#actor-name {
margin: 10px 15px 0;
text-align: center;
font-size: 16px;
line-height: 1em;
font-family: 'GraublauWebBold';
}

#choice-left {
width: 322px;
height: 341px;
float: left;
display: block;
}

#choice-divider {
width: 1px;
height: 305px;
float: left;
background-color: #3b1516;
border-left: 1px solid #4b1012;
border-right: 1px solid #4b1012;
margin-left: -2px;
}

#choice-right {
width: 322px;
height: 341px;
float: left;
display: block;
}

.thumb_list {
margin-top: 2em;
display: inline-block;
float: center;
height: 53px;
}

.actor-name{
position: absolute;
left: 140;
top: 19%;
margin: -12px 0 0 0;
}

.major-work {
position: absolute;
left: 140;
top: 36%;
margin: -12px 0 0 0;
}

.movie_thumb_list {
position: absolute;
left: 140;
top: 53%;
margin: -12px 0 0 0;
display: inline-block;
float: center;
height: 53px;
}

.small_thumb_list_item{
border-bottom: none;
padding: 0;
display: block;
float: left;
position: relative;
width: 54px;
height: 68px;
position:relative;
}

.small_thumb_list_item div a img {
z-index: -1;
}

.dark-background {
background-color: rgba(15, 15, 15, 0.6);
color: #fff;
text-shadow: #000 0px 0px 20px;
padding: 0;
color: #fff;
text-align: left;
font-weight: bold;
height: 20px;
display: table-cell;
vertical-align: middle;
}

.viewport a span {
line-height: 1.3em;
display: none;
font-weight: bold;
height: 47;
position: absolute;
text-align: center;
text-decoration: none;
width: 77;
margin-top: 45;
margin-left: -9.5;
}

.user_liked, .user_disliked{
border: 4px solid;
border-color: #3F97FF;
margin-top: -3;
margin-left: -4;
}

.user_disliked {
border-color: #ff9c34;
}

div #actor-career {
text-align: center;
}

div #choice-left, div #choice-right {
margin-top: 30;
text-align: center;
}

form {
margin: auto;
float: center;
}

#top {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: top;
margin-left: 10;
width: 138px;
float: left;
text-align: center;
margin-top: 60px;
color: #BE7E3F;
background: #521C10 url(/images/column-bg.jpg) repeat-x;
border: 1px solid #723d1f;
padding: 9px 0;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 40 auto 40;
    position: relative;
    //top: -50px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}
