<!--
 start : 2013-11-11 05:30 am
                               _           ____   ___
  ___ __ _ _ __ _ __   ___  __| |_ __ ___ |___ \ / _ \
 / __/ _` | '__| '_ \ / _ \/ _` | '_ ` _ \  __) | | | |
| (__ (_| | |  | |_) |  __/ (_| | | | | | |/ __/| |_| |
 \___\__,_|_|  | .__/ \___|\__,_|_| |_| |_|_____|\___/
               |_|

 end  : 2013-??-??
-->
<html data-env='production' lang='ko' xml:lang='ko'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 무비덕 {% endblock %}</title>
  <meta charset="utf-8">
  <meta property="og:title" content="무비덕" />

  <meta name="description" content="Movie the Movie">
  <meta property="og:description" content="Movie the Movie">

  <meta property="og:image" content="https://d17f28g3dsa4vh.cloudfront.net/img/home-design.png" />

<link rel="icon" type="image/vnd.microsoft.icon" href="/asset/favicon.ico" />

<meta property="og:type" content="website" />
<meta property="fb:admins" content="" />

<meta name="google-site-verification" content="" />
<meta name="author" content="carpedm20">
<link rel="author" href="./humans.txt" />

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="/asset/colorbox.css" />
<link rel="stylesheet" href="/asset/popup_login.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/asset/jquery.cookie.js"></script>
<script type="text/javascript" src="/asset/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/asset/script.js"></script>

<link rel="stylesheet" href="/asset/style.css" />
<link rel="stylesheet" href="/asset/loginform.css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lte IE 8]>
<link href="http://rack.3.mshcdn.com/assets/iehax-957092b11e263c6b850533d06d5aaa2c.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

</head>

<body class='body_posts body_index' data-jsid='posts/index' data-sec0='home' data-sec1='index' viewport='fixed'>
{% if messages %}
<section id="messages">
  <ul>
    {% for message in messages %}
      <li>
        {{ message }}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<div id="menu-container" class="top-nav-bar">
  <ul id="menu">
    <li><a href="/">MovieDuk</a></li>
    <li><a href="/">Movie</a></li>
    <li><a href="/search/movie/file">Watch!</a></li>
    <li><a href="/random">Random</a></li>
    <li><a href="/free">FreeTalk</a></li>
    {% if request.session.DukUser %}
      <li><a href="/social">Social</a></li>
      <li><a href="/profile/{{ request.session.DukUser }}">Profile</a></li>
      <li><a href="/logout">Sign Out</a></li>
    {% else %}
      <li>
        <a href="/login">Sign In/Up</a>
        <!--<a href="#" onClick="window.open('https://graph.facebook.com/oauth/authorize?client_id={{ settings.FACEBOOK_APP_ID }}&redirect_uri={{ settings.FACEBOOK_REDIRECT_URI }}&scope=publish_stream,email&display=popup','Facebook Login','width=546,height=346')">123</a>-->
      </li>
      {% include "account/popup_login.html" %} 
    {% endif %}
    <li id="search-bar">
      <div class="ui-widget">
        <input name="searchBox" type="text" class="search-input ui-autocomplete-input" placeholder="제목,배우,감독 검색" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        <div class="fake_search_btn">
          <input type="submit" value="검색">
        </div>
      </div>
    </li>
  </ul>
</div>
{% block content%}
{% endblock content %}
<!--<div class="footer">
<p>Copyright © 2013 Kim Tae Hoon</p>
<p>Designed by carpedm20</p>
</div>-->
 <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'movieduk'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
</body>
</html>
